
* {
  box-sizing: border-box;
  font-family:"Rubik", sans-serif;
}


body{
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(Images/bg.jpg) no-repeat;
    /* backdrop-filter: brightness(95%); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    font-size: 24px;
    padding: 30px;
    border-radius: 45px;
    align-items: stretch;
    width: 450px;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.text-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.can-stretch{
    align-items: stretch;
    height: auto;
    border-top: 2px solid rgba(255, 255, 255, .5);
    margin-top: 20px;
    padding-top: 10px;
}

.text-box label{
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.text-box input{
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    padding: 18px 15px;
    font-size: 16px;
    color: white;
}

.text-box textarea{
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    background: transparent;
    width: 350px;
    resize: vertical;
    letter-spacing: .5px;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 10px 13px;
    color: white;
}

.text-box textarea::placeholder, input::placeholder{
    color: white;
}

.box .input-box{
    margin-bottom: 30px;
}

.round-btn{
    position: fixed;
    top:60px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: none;
    outline: none;
    width: 120px;
    font-size: 36px;
    cursor: pointer;
    padding-top: 10px;
}

.round-btn i{
    color: #1E2340;
}

.btn{
    width: 100%;
    height: 45px;
    background: rgb(255, 255, 255);
    color: #1E2340;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.btn:hover{
    background: rgb(240, 240, 240);
}

.btn:active{
    background: rgb(220, 220, 220);
}

/* Boostrap Form Task */

.btn-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.bootstrap-body{
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(Images/bg.jpg) no-repeat;
    background-size: cover;

}

.card.container-bootstrap, .form-control.btn-custom, .form-control.input-custom, .card.container-registration{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    /* border-color: rgb(255, 255, 255, 0.3); */
    backdrop-filter: blur(30px);
}

.btn.btn-custom{
    color:#1E2340;
}

.form-control.btn-custom::placeholder, .form-control.input-custom::placeholder{
    color:white;
}